## Processo seletivo Navi - férias de verão
#### Daniel Pucciariello

### Questão 1:

In [1]:
import numpy as np
import pandas as pd
from math import *

In [2]:
lista=np.arange(1, 5000001)
lista

array([      1,       2,       3, ..., 4999998, 4999999, 5000000])

In [3]:
nova_lista=[]
for i in lista:
    if i%49 ==0:
        if i%37 ==0:
            if i%2 ==0:
                nova_lista.append(i)

In [4]:
print("A quantidade de números que cumprem os parametros é de", len(nova_lista),".")

A quantidade de números que cumprem os parametros é de 1378 .

### Questão 2:

In [5]:
x_inicial=[]
for i in range(10):
    x_inicial.append(i)
x=[]
for i in range(10):
    x.append(i)

In [6]:
x_inicial

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
x=[]
for i in x_inicial:
    if i%2 ==0:
        x.append(3**i+7*factorial(i))
    else:
        x.append(2**i+7*np.log(i))

In [8]:
x

[8,
 2.0,
 23,
 15.69028602067677,
 249,
 43.2660653870387,
 5769,
 141.6213710433872,
 288801,
 527.3805720413535]

Para facilitar a visualização:

In [9]:
x_2=pd.DataFrame(data=x)
x_2=x_2.rename(columns={0 : 'Valores'})
x_2

         Valores
0       8.000000
1       2.000000
2      23.000000
3      15.690286
4     249.000000
5      43.266065
6    5769.000000
7     141.621371
8  288801.000000
9     527.380572

In [10]:
print("A posição no vetor é a",x.index(max(x)), "pensando de 0 até 9 ou a",x.index(max(x))+1,"ª pensando de 1 até 10.")
print("O valor médio dos elementos de x é",format(np.mean(x),".2F"),".")

A posição no vetor é a 8 pensando de 0 até 9 ou a 9 ª pensando de 1 até 10.
O valor médio dos elementos de x é 29558.00 .

# Exercício 3

### Resolução tipo 1: considerando uma planilha com os dados.

In [16]:
df = pd.read_excel("notas_questao_3.xlsx")
df

        Nome  Nota
0      Jose    5.0
1      Pedro   7.0
2  Cristovan   8.0
3   Josefina   6.5
4  Cristiane   8.3

In [12]:
#criação de um dicionário para os dados provenientes 
dict2 = {} 
notas =df["Nota"].tolist()
nomes=df.index.tolist()
for key in nomes: 
    for value in notas: 
        dict2[key] = [value]
        notas.remove(value) 
        break

In [13]:
for i, k in dict2.items():
    b=0
    for e in k:
        if e>b:
            b=e
            dono_maior_nota=i
print("A maior nota é de", i,":", b)

A maior nota é de Cristiane : 8.3

## Resolução tipo 2: considerando um dicionário com as notas já pré-feito.

In [14]:
dic_nome_notas={"Jose":[5], "Pedro":[7], "Cristovan":[8],"Josefina":[6.5], "Cristiane":[8.3]}

In [15]:
for i, k in dic_nome_notas.items():
    b=0
    for e in k:
        if e>b:
            b=e
            dono_maior_nota=i
print("A maior nota é de", i,":", b)

A maior nota é de Cristiane : 8.3